/* --------------------------COMMON STYLE---------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------------------------Header---------------------- */
.page-header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}
.page-nav {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}
/* ---------------------------------Первая секция------------------ */
.section-solutions {
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
}
.main-title-solutions {
  max-width: 496px;
  margin: auto;
}
.main-button {
  display: block;
  background: var(--IRIS, #4d5ae5);
  min-width: 169px;
  height: 56px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 188px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* -------------------------------Вторая секция------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-advantages-title {
  margin-bottom: 8px;
}

.section-advantages {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-advantages {
  display: flex;
  gap: 24px;
}
/* ---------------------------------Третья секция с фото--------------------- */
.section-our-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  height: 732px;
}
.container-name-employees {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-employees {
  display: flex;
  width: 162px;
  height: 40px;
  margin-bottom: 72px;
  padding-bottom: 72px;
  padding-top: 120px;
  padding-left: 639px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-iten {
  display: flex;
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.member-team-name {
  display: flex;
  text-align: center;
  margin-bottom: 8px;
  width: 134px;
  height: 24px;
}
.text-team-specialization {
  display: flex;
  text-align: center;
  margin-bottom: 8px;
}
/* ---------------------------------------Четвертая секция--------------------- */
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  height: 3300px;
}
.portfolio-title {
  margin-bottom: 72px;
}
.list-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
}
.scrol-portfolio {
  margin-bottom: 8px;
  margin-top: 32px;
}
.container-application {
  padding: 32px 16px;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.accent {
  color: var(--NAVY-BLUE, #2e2f42);
}
.accent-footer {
  color: #f4f4fd;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: var(--SLATE, #434455);
}
.address-link {
  /* Body */
  display: block;
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}
.address {
  font-style: normal;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.main-title {
  color: var(--WHITE, #fff);
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}
button {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
button:hover,
button:focus {
  background: var(--OCEAN, #404bbf);
}
.section {
  background: var(--NAVY-BLUE, #2e2f42);
}
.section-our-team {
  background-color: #f4f4fd;
}
.team-iten {
  background-color: #ffffff;
}
.main-advantages {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.text-advantages {
  /* Body */
  width: 264px;
  margin-right: auto;
  margin-bottom: 32px;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.team {
  text-align: center;
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.member-team {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.text-team {
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.portfolio {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.scrol-portfolio {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.main-footer {
  background: var(--NAVY-BLUE, #2e2f42);
}
.text-portfolio {
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.section-portfolio {
  background: #fff;
}
.text-footer {
  color: var(--CLOUD, #f4f4fd);
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
